<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a ng-href="/" class="navbar-brand">Ybox</a>
			<button type="button" data-toggle="collapse" data- target="#navbar-main" class="navbar-toggle">
				<span class="icon-bar"></span>
			</button>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</div>
		<div id="navbar-main" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li ng-repeat="category in categories">
					<a href="/category/{{category._id}}/articles">{{category.name}}</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a ng-show="navvm.isLoggedIn" href="/newarticle/">New Article</a>
				</li>
				<li ng-hide="navvm.isLoggedIn" ><a href="/login?page={{navvm.currentPath }}">Sign in</a></li>
				<li ng-show="navvm.isLoggedIn" class="dropdown">
					<a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">{{navvm.currentUser.name}}
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="" ng-click="navvm.logout()">Logout</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>